@page "/"
@using CodeHub.Data.Models
@inject NavigationManager NavigationManager
@inject CodeHub.Services.ProblemService ProblemService
@inject CodeHub.Services.TagService TagService

<PageTitle>Home</PageTitle>

<div class="container-fluid">
    <div class="d-flex justify-content-center mt-5 gap-2 flex-wrap">
        <div class="sorting_buttons mt-3 gap-2 w-50 w-md-50">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Počet otázok
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item @(_maxProblemsToShow == 10 ? "active bg-warning text-dark" : "")" href="#" @onclick="() => SetProblemCount(10)">zobraziť 10 otázok </a></li>
                    <li><a class="dropdown-item @(_maxProblemsToShow == 20 ? "active bg-warning text-dark" : "")" href="#" @onclick="() => SetProblemCount(20)">zobraziť 20 otázok</a></li>
                    <li><a class="dropdown-item @(_maxProblemsToShow == 30 ? "active bg-warning text-dark" : "")" href="#" @onclick="() => SetProblemCount(30)">zobraziť 30 otázok</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Zoradiť podľa
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item @(_selectedSort == "newest" ? "active bg-warning text-dark" : "")" href="#" @onclick="@(() => FilterProblems(_selectedDifficulty, "newest"))">Najnovšie</a></li>
                    <li><a class="dropdown-item @(_selectedSort == "easiest" ? "active bg-warning text-dark" : "")" href="#" @onclick="@(() => FilterProblems(_selectedDifficulty, "easiest"))">Najľahšie</a></li>
                    <li><a class="dropdown-item @(_selectedSort == "hardest" ? "active bg-warning text-dark" : "")" href="#" @onclick="@(() => FilterProblems(_selectedDifficulty, "hardest"))">Najťažšie</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Obťažnosť
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item @(_selectedDifficulty == 1 ? "active bg-dark" : "")" href="#" style="color:green;" @onclick="() => FilterProblems(difficulty:1, _selectedSort)">Ľahká</a></li>
                    <li><a class="dropdown-item @(_selectedDifficulty == 2 ? "active bg-secondary" : "")" href="#" style="color:darkorange;" @onclick="() => FilterProblems(difficulty:2, _selectedSort)">Stredná</a></li>
                    <li><a class="dropdown-item @(_selectedDifficulty == 3 ? "active bg-light" : "")" href="#" style="color:red;" @onclick="() => FilterProblems(difficulty:3, _selectedSort)">Ťažká</a></li>
                    <li><a class="dropdown-item @(_selectedDifficulty == 0 ? "active bg-primary" : "")" href="#" @onclick="() => FilterProblems(difficulty:0, _selectedSort)">Všetky</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Značky
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    @if (_tags.Any())
                    {
                        @foreach (var tag in _tags.GroupBy(t => t.Name).Select(group => group.First()))
                        {
                            <li>
                                <a class="dropdown-item" href="#" @onclick="() => FilterByTag(tag.Id)">@tag.Name</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li><span class="dropdown-item disabled">Načítavam značky...</span></li>
                    }
                </ul>
            </div>
        </div>
        <div class="custom-table">
            <div class="table-responsive">
                <table class="table table-striped table-dark">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Stav</th>
                        <th scope="col">Názov</th>
                        <th scope="col">Prijatie</th>
                        <th scope="col">Náročnosť</th>
                    </tr>
                    </thead>
                    <tbody>
                    @if ((IsFiltered ? _filteredProblems : _problems).Any())
                    {
                        int startIndex = (_currentPage - 1) * _maxProblemsToShow + 1;
                        var problemsToDisplay = (IsFiltered ? _filteredProblems : _problems)
                            .Skip((_currentPage - 1) * _maxProblemsToShow)
                            .Take(_maxProblemsToShow);

                        foreach (var (problem, index) in problemsToDisplay.Select((p, i) => (p, i + startIndex)))
                        {
                            <tr>
                                <th scope="row">@index</th>
                                <td></td>
                                <td>
                                    <a href=@($"/problem/{problem.Id}") style="text-decoration: none; color: white;" 
                                       onmouseover="this.style.color='lightblue'" onmouseout="this.style.color='white'">
                                        @problem.Title
                                    </a>
                                </td>
                                <td>@($"{problem.Acceptance:P}")</td>
                                <td>
                                    @if (problem.Difficulty == 1)
                                    {
                                        <span class="badge bg-success">Ľahká</span>
                                    }
                                    else if (problem.Difficulty == 2)
                                    {
                                        <span class="badge bg-warning">Stredná</span>
                                    }
                                    else if (problem.Difficulty == 3)
                                    {
                                        <span class="badge bg-danger">Ťažká</span>
                                    }
                                    else
                                    {
                                        <span>Neznáma</span>
                                    }
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="text-center">Načítavam úlohy...</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="navigation mb-2 w-100">
            <nav aria-label="Page navigation example" class="d-flex justify-content-around">
                <ul class="pagination bg-dark d-flex flex-wrap">
                    <li class="page-item @(_currentPage == 1 ? "disabled" : "")">
                        <a class="page-link bg-dark link-primary" href="#" @onclick="() => GoToPage(_currentPage - 1)">
                            &lt;
                        </a>
                    </li>
                    
                    @if (_totalPages <= 5)
                    {
                        @for (int i = 1; i <= _totalPages; i++)
                        {
                            var page = i;
                            <li class="page-item">
                                <a class="page-link bg-dark link-primary" href="#" @onclick="() => GoToPage(page)">
                                    @i
                                </a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="page-item @(1 == _currentPage ? "active" : "")">
                            <a class="page-link bg-dark link-primary" href="#" @onclick="() => GoToPage(1)">1</a>
                        </li>

                        @if (_currentPage > 3)
                        {
                            <li class="page-item">
                                <span class="page-link bg-dark link-secondary">...</span>
                            </li>
                        }

                        int start = Math.Max(2, _currentPage - 2);
                        int end = Math.Min(_totalPages - 1, _currentPage + 2);
                        @for (int i = start; i <= end; i++)
                        {
                            var page = i;
                            <li class="page-item @(page == _currentPage ? "active" : "")">
                                <a class="page-link bg-dark link-primary" href="#" @onclick="() => GoToPage(page)">
                                    @i
                                </a>
                            </li>
                        }

                        @if (_currentPage < _totalPages - 2)
                        {
                            <li class="page-item">
                                <span class="page-link bg-dark link-secondary">...</span>
                            </li>
                        }

                        <li class="page-item @(_totalPages == _currentPage ? "active" : "")">
                            <a class="page-link bg-dark link-primary" href="#" @onclick="() => GoToPage(_totalPages)">@_totalPages</a>
                        </li>
                    }
                    
                    <li class="page-item @(_currentPage == _totalPages ? "disabled" : "")">
                        <a class="page-link bg-dark link-primary" href="#" @onclick="() => GoToPage(_currentPage + 1)">
                            &gt;
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>