@using CodeHub.Components.Components
@using CodeHub.Services

@page "/login"
@inject LdapService LdapService
@inject UserService UserService

<PageTitle>Prihlásenie</PageTitle>

<div class="user-auth mb-5">
    <div class="card p-lg-5 p-md-4 p-3 col-lg-4 col-md-6 col-12" data-bs-theme="dark">
        <div class="text-center mb-5">
            <img src="images/universityLogo.png" alt="Logo" style="width: 80px;">
            <h3 class="mb-3">Prihlásenie</h3>
        </div>
        @if (_showAlert)
        {
            <div class="alert @_alertColor" role="alert">
                @_alertMessage
            </div>
        }

        <EditForm Model="@lm" OnValidSubmit="HandleFormSubmitAsync" FormName="Login">
            <DataAnnotationsValidator />
            <div class="form-floating">
                <InputText id="NicknameInput" type="text" @bind-Value="@lm.Nickname" class="form-control" placeholder="Meno" />
                <label for="NicknameInput">Meno</label>
                <ValidationMessage For="@(() => lm.Nickname)" />
            </div>
            <div class="form-floating">
                <InputText id="PasswordInput" type="password" @bind-Value="@lm.Password" class="form-control" placeholder="Heslo" />
                <label for="PasswordInput">Heslo</label>
                <ValidationMessage For="@(() => lm.Password)" />
            </div>
            <button type="submit" class="btn button-custom button-add-bg mt-3">Prihlásiť sa</button>
        </EditForm>
    </div>
</div>