@page "/login"
@using CodeHub.Components.Components

<PageTitle>Login</PageTitle>

@using CodeHub.Services

<div class="user-auth mb-5">
    <div class="card p-lg-5 p-md-4 p-3 col-lg-4 col-md-6 col-12" data-bs-theme="dark">
        <div class="text-center mb-5">
            <img src="images/logo.png" alt="Logo" style="width: 80px;">
            <h3 class="mb-3">Prihlásenie</h3>
        </div>

        @if (_showAlert)
        {
            <div class="alert @_alertColor" role="alert">
                @_alertMessage
            </div>
        }

        <EditForm Model="@lm" OnValidSubmit="HandleFormSubmitAsync" FormName="Login">
            <DataAnnotationsValidator />
            <div class="form-floating">
                <InputText id="EmailInput" type="text" @bind-Value="@lm.Email" class="form-control" placeholder="meno@example.com" />
                <label for="EmailInput">E-mailová adresa</label>
                <ValidationMessage For="@(() => lm.Email)" />
            </div>
            <div class="form-floating">
                <InputText id="PasswordInput" type="password" @bind-Value="@lm.Password" class="form-control" placeholder="Heslo" />
                <label for="PasswordInput">Heslo</label>
                <ValidationMessage For="@(() => lm.Password)" />
            </div>
            <div class="mb-3 form-check pt-1">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Zostať prihlásený</label>
            </div>
            <button type="submit" class="btn btn-primary">Prihlásiť sa</button>
        </EditForm>
    </div>
</div>