@page "/problem/{ProblemId:int}"
@using CodeHub.Data.Models
@using CodeHub.Services
@inject IJSRuntime JS
@inject ProblemService ProblemService
@inject TagService TagService
@inject PistonService PistonService

<PageTitle>Problem Details</PageTitle>

<div class="container-fluid h-100 p-4">
    <div class="row h-100">
        <div class="col-md-6 p-4 text-white overflow-y-auto">
            <h2 class="font-bold">@_problem?.Title</h2>

            <div class="mb-4">
                @if (_tags != null && _tags.Any())
                {
                    <div class="d-flex flex-wrap gap-2">
                        @foreach (var tag in _tags)
                        {
                            <span class="badge bg-primary">@tag.Name</span>
                        }
                    </div>
                }
            </div>

            <p class="text-gray-400 mb-6 pb-4">@_problem?.Description</p>

            <div class="mb-4 pb-4">
                <h5 class="text-lg font-semibold">Príklad:</h5>
                <p><strong>Vstup:</strong> @_problem?.RequiredInput</p>
                <p><strong>Výstup:</strong> @_problem?.RequiredOutput</p>
            </div>

            <div class="mb-4 pb-4">
                <h5 class="text-lg font-semibold">Obmedzenia:</h5>
                <p>@_problem?.Constraints</p>
            </div>
            
            <div class="accordion w-75" id="accordionHint" style="--bs-accordion-transition: 0.7s ease-in-out;">
                <div class="accordion-item bg-dark border border-secondary">
                    <h2 class="accordion-header">
                        <button class="accordion-button bg-secondary text-light collapsed" type="button" data-bs-toggle="collapse" 
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Zobraziť nápovedy
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionHint">
                        <div class="accordion-body text-light">
                            @_problem?.Hints
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 p-0 text-white">
            <div class="d-flex gap-2 pb-1">
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border:3px solid #0059b3;">
                        Jazyk: @_selectedLanguage
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item @(_selectedLanguage == "java" ? "active" : "")" @onclick="@(() => ChangeLanguage("Java"))">Java</a></li>
                        <li><a class="dropdown-item @(_selectedLanguage == "csharp" ? "active" : "")" @onclick="@(() => ChangeLanguage("C#"))">C#</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border:3px solid #0059b3">
                        Režim: @(_selectedTheme == "vs-dark" ? "Tmavý" : "Svetlý")
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item @(_selectedTheme == "vs-dark" ? "active" : "")" @onclick="@(() => ChangeTheme("vs-dark"))">Tmavý režim</a></li>
                        <li><a class="dropdown-item @(_selectedTheme == "vs" ? "active" : "")" @onclick="@(() => ChangeTheme("vs"))">Svetlý režim</a></li>
                    </ul>
                </div>
            </div>
            <div id="editorContainer" style="height: 65vh; border: 3px solid #0059b3;"></div>
            <div class="mt-3 d-flex gap-2 mb-2">
                <button class="btn btn-primary align-self-start" @onclick="GetEditorValue" disabled="@_isSubmitLoading">
                    @if (_isSubmitLoading)
                    {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="ms-2">Odovzdávam...</span>
                    }
                    else
                    {
                        <span>Odovzdaj</span>
                    }
                </button>

                <button class="btn btn-success align-self-start" @onclick="CheckCodeAsync" disabled="@_isCheckLoading">
                    @if (_isCheckLoading)
                    {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="ms-2">Kontrolujem...</span>
                    }
                    else
                    {
                        <span>Skontroluj</span>
                    }
                </button>
            </div>
            @{
                var borderColor = "";
                if (_hasExecuted)
                {
                    borderColor = _noErrors ? "border-success" : "border-danger";
                }

            }

            <div class="p-3 border rounded bg-dark text-light w-100 @borderColor" 
                 style="overflow-y: auto; white-space: pre-wrap; font-family: monospace;">
                <pre class="m-0">@_output</pre>
            </div>
        </div>
    </div>
</div>
