@page "/problem/{ProblemId:int}"
@using CodeHub.Data.Models
@using CodeHub.Services
@using Microsoft.IdentityModel.Tokens
@inject IJSRuntime JS
@inject ProblemService ProblemService
@inject TagService TagService
@inject PistonService PistonService
@inject ProgrammingLanguageService ProgrammingLanguageService
@inject ProblemHintService ProblemHintService
@inject ProblemConstraintService ProblemConstraintService
@inject ProblemExampleService ProblemExampleService

<PageTitle>Problem Details</PageTitle>

<div class="container-fluid h-100 p-4">
    <div class="row h-100">
        <div class="col-md-6 p-4 text-white overflow-y-auto" style="border:3px solid #0059b3; border-radius:5px; overflow-y: auto; max-height: 85vh; background-color: #1e1e1e">
            <h2 class="font-bold">@_problem?.Title</h2>
            <div class="mb-4">
                @if (_tags != null && _tags.Any())
                {
                    <div class="d-flex flex-wrap gap-2">
                        @if (_problem != null)
                        {
                            string difficultyText = _problem.Difficulty switch
                            {
                                1 => "Ľahká",
                                2 => "Stredná",
                                3 => "Ťažká"
                            };

                            string difficultyClass = _problem.Difficulty switch
                            {
                                1 => "bg-success",
                                2 => "bg-warning",
                                3 => "bg-danger"
                            };

                            <span class="badge @difficultyClass">
                                @difficultyText
                            </span>
                        }
                        @foreach (var tag in _tags)
                        {
                            <span class="badge bg-primary">@tag.Name</span>
                        }
                    </div>
                }
            </div>

            <p class="text-gray-400 mb-6 pb-4">@_problem?.Description</p>

            @if (_examples.Any())
            {
                int i = 1;
                @foreach (var example in _examples)
                {
                    <div class="mb-4 pb-4">
                        <h5 class="text-lg font-semibold">Príklad @i:</h5>
                        <p><strong>Vstup:</strong> @example?.Input</p>
                        <p><strong>Výstup:</strong> @example?.Output</p>
                        @if (!string.IsNullOrEmpty(example?.Explanation))
                        {
                            <p><strong>Vysvetlenie:</strong> @example?.Explanation</p>
                        }
                    </div>
                    i++;
                }
            }

            <div class="mb-4 pb-4">
                @if (_constraints.Any())
                {
                    <h5 class="text-lg font-semibold">Obmedzenia:</h5>
                    @foreach (var constraint in _constraints)
                    {
                        <p>&#9679; @constraint.Constraint</p>
                    }
                }
                <p>@_problem?.Constraints</p>
            </div>
            <div class="accordion accordion-flush w-75" id="accordionHint">
                @if (_hints.Any())
                {
                    int index = 0;
                    @foreach (var hint in _hints)
                    {
                        var collapseId = $"collapseHint{index}";
                        var headingId = $"headingHint{index}";

                        <div class="accordion-item bg-dark border border-secondary">
                            <h2 class="accordion-header" id="@headingId">
                                <button class="accordion-button collapsed bg-dark text-light" 
                                        type="button" data-bs-toggle="collapse" 
                                        data-bs-target="#@collapseId"
                                        aria-expanded="false" aria-controls="@collapseId">
                                    Nápoveda @(index + 1)
                                </button>
                            </h2>
                            <div id="@collapseId" class="accordion-collapse collapse" 
                                 aria-labelledby="@headingId" data-bs-parent="#accordionHint">
                                <div class="accordion-body text-light">
                                    @hint.Hint
                                </div>
                            </div>
                        </div>
                        index++;
                    }
                }
            </div>
        </div>
        <div class="col-md-6 p-0 text-white ps-3">
            <div class="d-flex gap-2 pb-1">
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border:3px solid #0059b3;">
                        Jazyk: @_selectedLanguage.Name
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        @foreach (var language in _languages)
                        {
                            <li>
                                <a class="dropdown-item @( _selectedLanguage.Name == language.Name ? "active" : "" )" 
                                   @onclick="@(() => ChangeLanguage(language.Name))">
                                    @language.Name
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="border:3px solid #0059b3">
                        Režim: @(_selectedTheme == "vs-dark" ? "Tmavý" : "Svetlý")
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item @(_selectedTheme == "vs-dark" ? "active" : "")" @onclick="@(() => ChangeTheme("vs-dark"))">Tmavý režim</a></li>
                        <li><a class="dropdown-item @(_selectedTheme == "vs" ? "active" : "")" @onclick="@(() => ChangeTheme("vs"))">Svetlý režim</a></li>
                    </ul>
                </div>
            </div>
            <div id="editorContainer" style="height: 65vh; border: 3px solid #0059b3;" class="pb-3"></div>
            <AuthorizeView Roles="Admin,Učiteľ,Študent" Context="authContext">
                <Authorized>
                    <div class="mt-3 d-flex gap-2 mb-2">
                        <button class="btn btn-primary align-self-start" @onclick="GetEditorValue" disabled="@_isSubmitLoading">
                            @if (_isSubmitLoading)
                            {
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="ms-2">Odovzdávam...</span>
                            }
                            else
                            {
                                <span>Odovzdaj</span>
                            }
                        </button>

                        <button class="btn btn-success align-self-start" @onclick="CheckCodeAsync" disabled="@_isCheckLoading">
                            @if (_isCheckLoading)
                            {
                                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                <span class="ms-2">Kontrolujem...</span>
                            }
                            else
                            {
                                <span>Skontroluj</span>
                            }
                        </button>
                    </div>
                    @{
                        var borderColor = "";
                        if (_hasExecuted)
                        {
                            borderColor = _noErrors ? "border-success" : "border-danger";
                        }

                    }

                    <div class="p-3 border rounded bg-dark text-light w-100 @borderColor" 
                         style="overflow-y: auto; white-space: pre-wrap; font-family: monospace;">
                        <pre class="m-0">@_output</pre>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div>
                        <h6>
                            Musíte sa 
                            <a href="/login" style="text-decoration: none; color: lightblue" onmouseover="this.style.color='dodgerblue'; this.style.textDecoration='underline';"
                               onmouseout="this.style.color='lightblue'; this.style.textDecoration='none'">prihlásiť</a>
                            /
                            <a href="/register" style="text-decoration: none; color: lightblue" onmouseover="this.style.color='dodgerblue'; this.style.textDecoration='underline'"
                               onmouseout="this.style.color='lightblue'; this.style.textDecoration='none'">zaregistrovať</a>.
                            pre riešenie problému
                        </h6>
                    </div>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</div>
