@page "/user-profile/{section}"
@using CodeHub.Services
@using CodeHub.Data.Models

@inject UserService UserService
@inject NavigationManager NavigationManager
@inject ProblemService ProblemService
@inject ProgrammingLanguageService ProgrammingLanguageService
@inject VisibleWeekService VisibleWeekService
@inject TagService TagService
@inject IJSRuntime JSRuntime

<PageTitle>Profil</PageTitle>

<AuthorizeView Roles="admin,teacher,student" Context="OuterContent">
    <Authorized>
        <div class="container-fluid text-center p-0 m-0 min-vh-100 d-flex flex-column">
            <div class="row text-white flex-grow-1 m-0 gx-0">
                <div class="col-lg-3 col-md-4 col-sm-12 custom-bg-profile-left p-4 d-flex flex-column align-items-center">
                    @if (_user != null)
                    {
                        <img class="mt-4 mb-4 img-fluid w-50" src="data:image/png;base64,@Convert.ToBase64String(_user.ProfileImage)" alt="Profile Image" />
                    }

                    @if (_user != null)
                    {
                        <h2 class="pb-4">@(_user.DisplayName ?? _user.Username)</h2>
                    }

                    <div class="d-grid gap-2 w-100">
                        <button class="btn profile-button button-update p-2" @onclick="@(() => NavigateToProfileSection("my-profile"))">Zobraziť profil</button>
                        <button class="btn profile-button button-update p-2" @onclick="@(() => NavigateToProfileSection("change-password"))">Zmeniť heslo</button>
                        <AuthorizeView Roles="admin,teacher" Context="myProblemsAuthContext">
                            <Authorized>
                                <button class="btn profile-button button-update p-2" @onclick="LoadUserProblems">Spravovať úlohy</button>
                            </Authorized>
                        </AuthorizeView>
                    </div>
                </div>

                <div class="col-lg-9 col-md-8 col-sm-12 custom-bg-profile-right p-4 d-flex justify-content-center align-items-center">
                    @if (_showEditProfile)
                    {
                        <div class="user-auth mb-4 w-100">
                            <EditForm Model="@em" OnValidSubmit="HandleEditProfileFormSubmitAsync" FormName="UserProfile">
                                <DataAnnotationsValidator/>
                                <div class="card p-4 mx-auto col-12 col-md-10 col-lg-6" style="max-width: 80vw; min-width: 30vw;" data-bs-theme="dark">
                                    <div class="text-center mb-4">
                                        <h4 class="mb-2">Môj profil</h4>
                                        @if (_user!.LdapUser)
                                        {
                                            <div class="tooltip-wrapper">
                                                <span class="tooltip-icon">?</span>
                                                <CodeHub.Components.Components.Tooltip Text="Ako LDAP používateľ nemáte možnosť meniť žiadne profilové informácie okrem vášho profilového obrázka. "> </CodeHub.Components.Components.Tooltip>
                                            </div>
                                        }
                                    </div>

                                    @if (_showAlert)
                                    {
                                        <div class="alert @_alertColor" role="alert">
                                            @_alertMessage
                                        </div>
                                    }
                                    <div class="form-floating mb-3">
                                        <InputText id="nickname" @bind-Value="em.DisplayName" class="form-control bg-dark text-white" readonly="@(_user.LdapUser)" placeholder="Meno a priezvisko" />
                                        <label for="nickname">Meno a priezvisko</label>
                                        <ValidationMessage For="@(() => em.DisplayName)" />
                                    </div>
                                    <div class="form-floating mb-3">
                                        <InputText id="displayName" @bind-Value="em.Username" class="form-control bg-dark text-white" readonly="@(_user.LdapUser)" placeholder="Prezývka" />
                                        <label for="nickname">Prezývka</label>
                                        <ValidationMessage For="@(() => em.Username)"/>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <InputText id="email" @bind-Value="em.Email" class="form-control bg-dark text-white" readonly="@(_user.LdapUser)" placeholder=" E-mailová adresa" />
                                        <label for="email">E-mailová adresa</label>
                                        <ValidationMessage For="@(() => em.Email)"/>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <InputText id="group" @bind-Value="em.Group" class="form-control bg-dark text-white" readonly="@(_user.LdapUser)" placeholder="Študijná skupina" />
                                        <label for="email">Študijná skupina</label>
                                        <ValidationMessage For="@(() => em.Group)" />
                                    </div>
                                    <div class="form-floating text-start">
                                        <h5 class="mb-3">Vybrať profilovú fotku</h5>
                                        <div class="col-12 col-md-8 col-lg-6 mx-auto w-100">
                                            <InputFile class="form-control"  OnChange="HandleFileSelected" />
                                        </div>
                                        @if (_uploadedImage != null)
                                        {
                                            <h5 class="mt-2">Náhľad:</h5>
                                            <div class="mt-3 text-center">
                                                <img src="@_uploadedImage" alt="Uploaded Image" style="max-width: 12vw; max-height: 12vh"/>
                                            </div>
                                        }
                                    </div>
                                     <div class="col my-2 mt-4 text-center">
                                        <button class="btn button-custom button-create-bg btn-sm" type="submit">Aktualizovať</button>
                                     </div>
                                </div>
                            </EditForm>
                        </div>
                    }
                    else if (_showChangePassword)
                    {
                        <div class="user-auth mb-4 w-100">
                            <EditForm Model="@cpm" OnValidSubmit="HandleChangePasswordFormSubmitAsync" FormName="ChangePassword">
                                <DataAnnotationsValidator />
                                <div class="card p-4 mx-auto col-12 col-md-10 col-lg-8" data-bs-theme="dark">
                                    <div class="text-center mb-4">
                                        <h4 class="mb-2">Zmeniť heslo</h4>
                                    </div>
                                    @if (_showAlert)
                                    {
                                        <div class="alert @_alertColor" role="alert">
                                            @_alertMessage
                                        </div>
                                    }
                                    <div class="form-floating mb-3">
                                        <InputText id="password" type="password" @bind-Value="cpm.Password" class="form-control bg-dark text-white" placeholder="Staré heslo" />
                                        <label for="password">Staré heslo</label>
                                        <ValidationMessage For="@(() => cpm.Password)" />
                                    </div>
                                    <div class="form-floating mb-3">
                                        <InputText id="password" type="password" @bind-Value="cpm.NewPassword" class="form-control bg-dark text-white" placeholder="Nové heslo" />
                                        <label for="password">Nové heslo</label>
                                        <ValidationMessage For="@(() => cpm.NewPassword)" />
                                    </div>
                                    <div class="form-floating mb-3">
                                        <InputText id="password" type="password" @bind-Value="cpm.ConfirmPassword" class="form-control bg-dark text-white" placeholder="Potvrďte heslo" />
                                        <label for="password">Potvrďte heslo</label>
                                        <ValidationMessage For="@(() => cpm.ConfirmPassword)" />
                                    </div>
                                    <div id="passwordHelpBlock" class="form-text pb-4">
                                        Vaše nové heslo musí mať aspoň 8 znakov a nie viac ako 24 znakov, musí obsahovať písmená, číslice a špeciálne znaky.
                                    </div>
                                    <div class="col my-2 text-center">
                                        <button class="btn button-custom button-create-bg btn-sm" type="submit">Aktualizovať</button>
                                    </div>
                                </div>
                            </EditForm>
                        </div>
                    }
                    else if (_showUserProblems)
                    {
                        <AuthorizeView Roles="admin, teacher">
                            <Authorized>
                                <div class="w-100 d-flex flex-column position-relative" style="min-height: 100vh;">
                                    <div class="d-flex align-items-center mb-2 w-100 position-relative">
                                        <button type="button" class="btn visible-weeks-button" @onclick="OpenVisibleWeeksModal">
                                            Viditeľné týždne
                                        </button>

                                        <h3 class="text-white mb-0 position-absolute start-50 translate-middle-x">
                                            Moje Úlohy
                                        </h3>
                                        <button type="button" class="btn add-task-button ms-auto" onclick="window.location.href='new-problem'">
                                            ➕ Pridať úlohu
                                        </button>
                                    </div>

                                @if (_isLoading)
                                {
                                    <div class="text-center text-white">
                                        <p>Načítavanie úloh...</p>
                                        <div class="spinner-border text-light" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                }
                                else if (_userProblems != null && _userProblems.Any())
                                {
                                    <div class="table-responsive">
                                        <table class="table table-dark table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Názov</th>
                                                    <th>Obťažnosť</th>
                                                    <th>Značky</th>
                                                    <th colspan="2" scope="col">Akcie</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var problem in _userProblems
                                                   .Skip((_currentPage - 1) * _maxProblemsToShow)
                                                   .Take(_maxProblemsToShow))
                                                {
                                                    <tr>
                                                        <td>@problem.Title</td>
                                                        <td>
                                                            @switch (problem.Difficulty)
                                                            {
                                                                case 1:
                                                                    <span class="badge badge-veryeasy">Veľmi ľahká</span>
                                                                    break;
                                                                case 2:
                                                                    <span class="badge badge-easy">Ľahká</span>
                                                                    break;
                                                                case 3:
                                                                    <span class="badge badge-medium">Stredná</span>
                                                                    break;
                                                                case 4:
                                                                    <span class="badge badge-hard">Ťažká</span>
                                                                    break;
                                                                case 5:
                                                                    <span class="badge badge-veryhard">Veľmi ťažká</span>
                                                                    break;
                                                                default:
                                                                    @:Neznáma
                                                                    break;
                                                            }
                                                        </td>
                                                        <td>
                                                            @if (problem.Tags != null && problem.Tags.Any())
                                                            {
                                                                @foreach (var tag in problem.Tags)
                                                                {
                                                                    <span class="badge badge-bluewhite" style="margin-right: 5px; font-size:12px;">@tag.Name</span>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <span>Žiadne značky</span>
                                                            }
                                                        </td>

                                                        <td colspan="2">
                                                            <div style="display: flex; gap: 5px; justify-content:center;">
                                                                <button type="button" class="btn button-custom button-delete" @onclick="@(() => ShowDeleteProblemModal(problem))">
                                                                    <i class="fa-solid fa-trash-can"></i>
                                                                </button>
                                                                <button type="button" class="btn button-custom button-add-bg" @onclick="@(() => NavigateToPage(problem.Id, "edit-problem"))">
                                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                                </button>
                                                                <button type="button" class="btn button-custom button-show-students" @onclick="@(() => NavigateToPage(problem.Id, "student-attempts"))">
                                                                    <i class="fa-solid fa-trophy text-warning"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                        @if (_userProblems.Count > _maxProblemsToShow)
                                        {
                                            <div class="navigation mb-2 w-100">
                                                <nav aria-label="Page navigation example" class="d-flex justify-content-around">
                                                    <ul class="pagination bg-dark d-flex flex-wrap">
                                                        <li class="page-item @(_currentPage == 1 ? "disabled" : "")">
                                                            <a class="page-link bg-dark link-primary" @onclick="() => GoToPage(_currentPage - 1)">
                                                                &lt;
                                                            </a>
                                                        </li>

                                                        @if (_totalPages <= 5)
                                                        {
                                                            @for (int i = 1; i <= _totalPages; i++)
                                                            {
                                                                var page = i;
                                                                <li class="page-item @(i == _currentPage ? "active" : "")">
                                                                    <a class="page-link bg-dark link-primary" @onclick="() => GoToPage(page)">
                                                                        @i
                                                                    </a>
                                                                </li>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <li class="page-item @(1 == _currentPage ? "active" : "")">
                                                                <a class="page-link bg-dark link-primary" @onclick="() => GoToPage(1)">1</a>
                                                            </li>

                                                            @if (_currentPage > 3)
                                                            {
                                                                <li class="page-item">
                                                                    <span class="page-link bg-dark link-secondary">...</span>
                                                                </li>
                                                            }

                                                            int start = Math.Max(2, _currentPage - 2);
                                                            int end = Math.Min(_totalPages - 1, _currentPage + 2);
                                                            @for (int i = start; i <= end; i++)
                                                            {
                                                                var page = i;
                                                                <li class="page-item @(page == _currentPage ? "active" : "")">
                                                                    <a class="page-link bg-dark link-primary" @onclick="() => GoToPage(page)">
                                                                        @i
                                                                    </a>
                                                                </li>
                                                            }

                                                            @if (_currentPage < _totalPages - 2)
                                                            {
                                                                <li class="page-item">
                                                                    <span class="page-link bg-dark link-secondary">...</span>
                                                                </li>
                                                            }

                                                            <li class="page-item @(_totalPages == _currentPage ? "active" : "")">
                                                                <a class="page-link bg-dark link-primary" @onclick="() => GoToPage(_totalPages)">@_totalPages</a>
                                                            </li>
                                                        }

                                                        <li class="page-item @(_currentPage == _totalPages ? "disabled" : "")">
                                                            <a class="page-link bg-dark link-primary" @onclick="() => GoToPage(_currentPage + 1)">
                                                                &gt;
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        }
                                }
                                else
                                {
                                    <p class="text-white text-center">Nemáte žiadne úlohy.</p>
                                }
                            </div>
                            </Authorized>
                        </AuthorizeView>
                    }
                </div>
            </div>
        </div>
        @if (_showDeleteModal)
        {
            <div class="modal d-block" style="background-color: rgba(0,0,0.1,0.7);" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content background-custom">
                        <div class="modal-header text-white">
                            <h5 class="modal-title">@_actionName</h5>
                            <button type="button" class="btn-close btn-close-white" @onclick="CloseDeleteModal" aria-label="Zatvoriť"></button>
                        </div>
                        <div class="modal-body text-white">
                            <div class="mb-3 mt-3 d-flex align-items-center justify-content-center text-danger">
                                <i class="fa-solid fa-triangle-exclamation fa-2x me-3"></i>
                                <p class="fw-bold fs-5 mb-0">@_deleteModalText</p>
                            </div>
                        </div>
                        <div class="modal-footer text-white">
                            <button type="button" class="btn button-custom button-close-bg" @onclick="CloseDeleteModal">Zrušiť</button>
                            @if (_editingProblem != null)
                            {
                                <button type="button" class="btn button-custom button-delete" @onclick="DeleteProblem">Odstrániť úlohu</button>
                            }
                            else
                            {
                                <button type="button" class="btn button-custom button-delete" @onclick="DeleteUser">Zrušiť účet</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (_showVisibleWeeksModal)
        {
            <div class="modal d-block" tabindex="-1" style="background-color: rgba(0,0,0.1,0.7);">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content background-custom">
                        <div class="modal-header">
                            <h5 class="modal-title text-white">Vybrať viditeľné týždne</h5>
                            <button type="button" class="btn-close btn-close-white" @onclick="CloseVisibleWeeksModal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="list-group">
                                @for (int i = 1; i <= 13; i++)
                                {
                                    int week = i;
                                    <label class="list-group-item bg-dark text-white">
                                        <input class="form-check-input me-1" type="checkbox" value="@week" @onchange="(e) => HandleWeekChange(e, week)" checked="@(_selectedVisibleWeeks.Contains(week))">
                                        Týždeň @week
                                    </label>
                                }
                                <label class="list-group-item bg-dark text-white">
                                    <input class="form-check-input me-1" type="checkbox" @onchange="(e) => HandleWeekChange(e, 14)" checked="@_selectedVisibleWeeks.Contains(14)">
                                    Skúška
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-success" @onclick="SaveVisibleWeeks">Uložiť</button>
                            <button class="btn btn-secondary" @onclick="CloseVisibleWeeksModal">Zavrieť</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <CodeHub.Components.Components.RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>