@page "/userprofile"
@using CodeHub.Services
@using CodeHub.Data.Models

@inject UserService UserService
@inject NavigationManager NavigationManager
@inject ProblemService ProblemService
@inject ProgrammingLanguageService ProgrammingLanguageService
@inject TagService TagService

<PageTitle>User Profile</PageTitle>

<AuthorizeView Roles="Admin,Učiteľ,Študent" Context="authContext">
    <Authorized>
        <div class="container-fluid text-center p-0 m-0 min-vh-100 d-flex flex-column">
            <div class="row text-white flex-grow-1 m-0 gx-0">
                <div class="col-lg-3 col-md-4 col-sm-12 custom-bg-profile-left p-4 d-flex flex-column align-items-center">
                    @if (_user != null)
                    {
                        <img class="circular--square mt-4 mb-4" src="data:image/png;base64,@Convert.ToBase64String(_user.ProfileImage)" alt="Profile Image" />
                    }
                    else
                    {
                        <p class="pb-4 text-uppercase">Načítavanie obrázka...</p>
                    }
                    @if (_user != null)
                    {
                        <h2 class="pb-4 text-uppercase">@_user.Username</h2>
                    }
                    else
                    {
                        <p class="pb-4 text-uppercase">Načítavanie...</p>
                    }
                    <div class="d-grid gap-2 w-100">
                        <button class="btn custom-bg-profile-left btn-outline-dark text-white p-2" @onclick="ShowEditProfile">Upraviť profil</button>
                        <button class="btn custom-bg-profile-left btn-outline-dark text-white p-2" @onclick="ShowChangePassword">Zmeniť heslo</button>
                        <button class="btn custom-bg-profile-left btn-outline-dark text-white p-2" @onclick="LoadUserProblems">Moje úlohy</button>
                        <button class="btn custom-bg-profile-left btn-outline-dark text-danger p-2" @onclick="ShowDeleteUserModal">Vymazať účet</button>
                    </div>
                </div>

                <div class="col-lg-9 col-md-8 col-sm-12 custom-bg-profile-right p-4 d-flex justify-content-center align-items-center">
                    @if (_showEditProfile)
                    {
                        <div class="user-auth mb-4 w-100">
                            <EditForm Model="@em" OnValidSubmit="HandleEditProfileFormSubmitAsync" FormName="UserProfile">
                                <DataAnnotationsValidator/>
                                <div class="card p-5 mx-auto col-12 col-md-10 col-lg-6" style="max-width: 80vw; min-width: 30vw;" data-bs-theme="dark">
                                    <div class="text-center mb-4">
                                        <h4 class="mb-2">Upraviť Profil</h4>
                                    </div>
                                    @if (_showAlert)
                                    {
                                        <div class="alert @_alertColor" role="alert">
                                            @_alertMessage
                                        </div>
                                    }
                                    <div class="form-floating mb-3">
                                        <InputText id="nickname" @bind-Value="em.Username" class="form-control bg-dark text-white" placeholder="Prezývka"/>
                                        <label for="nickname">Prezývka</label>
                                        <ValidationMessage For="@(() => em.Username)"/>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <InputText id="email" @bind-Value="em.Email" class="form-control bg-dark text-white" placeholder="E-mailová adresa"/>
                                        <label for="email">E-mailová adresa</label>
                                        <ValidationMessage For="@(() => em.Email)"/>
                                    </div>
                                    <div class="form-floating text-start">
                                        <h5 class="mb-3">Vybrať profilovú fotku</h5>
                                        <div class="col-12 col-md-8 col-lg-6 mx-auto w-100">
                                            <InputFile class="form-control"  OnChange="HandleFileSelected" />
                                        </div>
                                        @if (_uploadedImage != null)
                                        {
                                            <h5 class="mt-2">Náhľad:</h5>
                                            <div class="mt-3 text-center">
                                                <img src="@_uploadedImage" alt="Uploaded Image" style="max-width: 12vw; max-height: 12vh"/>
                                            </div>
                                        }
                                    </div>
                                    <div class="row">
                                        <div class="col my-2 text-center">
                                            <button class="btn btn-success btn-sm" type="submit">Aktualizovať</button>
                                        </div>
                                    </div>
                                </div>
                            </EditForm>
                        </div>
                    }
                    else if (_showChangePassword)
                    {
                        <div class="user-auth mb-4 w-100">
                            <EditForm Model="@cpm" OnValidSubmit="HandleChangePasswordFormSubmitAsync" FormName="ChangePassword">
                                <DataAnnotationsValidator />
                                <div class="card p-4 mx-auto col-12 col-md-10 col-lg-8" data-bs-theme="dark">
                                    <div class="text-center mb-4">
                                        <h4 class="mb-2">Zmeniť heslo</h4>
                                    </div>
                                    @if (_showAlert)
                                    {
                                        <div class="alert @_alertColor" role="alert">
                                            @_alertMessage
                                        </div>
                                    }
                                    <div class="form-floating mb-3">
                                        <InputText id="password" type="password" @bind-Value="cpm.Password" class="form-control bg-dark text-white" placeholder="Staré heslo" />
                                        <label for="password">Staré heslo</label>
                                        <ValidationMessage For="@(() => cpm.Password)" />
                                    </div>
                                    <div class="form-floating mb-3">
                                        <InputText id="password" type="password" @bind-Value="cpm.NewPassword" class="form-control bg-dark text-white" placeholder="Nové heslo" />
                                        <label for="password">Nové heslo</label>
                                        <ValidationMessage For="@(() => cpm.NewPassword)" />
                                    </div>
                                    <div class="form-floating mb-3">
                                        <InputText id="password" type="password" @bind-Value="cpm.ConfirmPassword" class="form-control bg-dark text-white" placeholder="Potvrďte heslo" />
                                        <label for="password">Potvrďte heslo</label>
                                        <ValidationMessage For="@(() => cpm.ConfirmPassword)" />
                                    </div>
                                    <div id="passwordHelpBlock" class="form-text pb-4">
                                        Vaše nové heslo musí mať aspoň 8 znakov a nie viac ako 24 znakov, musí obsahovať písmená, číslice a špeciálne znaky.
                                    </div>
                                    <div class="col my-2 text-center">
                                        <button class="btn btn-success btn-sm" type="submit">Aktualizovať</button>
                                    </div>
                                </div>
                            </EditForm>
                        </div>
                    }
                    else if (_showUserProblems)
                    {
                        <div class="w-100 d-flex flex-column position-relative" style="min-height: 100vh;">
                            <button type="button" class="btn btn-info position-absolute top-0 end-0" 
                                    onmouseover="this.style.backgroundColor='#0eb6d8'" onmouseout="this.style.backgroundColor='#31d2f2'">
                                <a href="task-form" style="text-decoration: none; color: inherit; background-color: inherit;">Pridať úlohu</a>
                            </button>
                            <h3 class="text-center text-white">Moje Úlohy</h3>
                            @if (_isLoading)
                            {
                                <div class="text-center text-white">
                                    <p>Načítavam vaše úlohy...</p>
                                    <div class="spinner-border text-light" role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            }
                            else if (_userProblems != null && _userProblems.Any())
                            {
                                <div class="table-responsive">
                                    <table class="table table-dark table-striped">
                                        <thead>
                                        <tr>
                                            <th>Názov</th>
                                            <th>Obťažnosť</th>
                                            <th>Značky</th>
                                            <th colspan="2" scope="col">Akcie</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        @foreach (var problem in _userProblems)
                                        {
                                            <tr>
                                                <td>@problem.Title</td>
                                                <td>
                                                    @switch (problem.Difficulty)
                                                    {
                                                        case 1:
                                                            <span class="badge bg-success">Ľahká</span>
                                                            break;
                                                        case 2:
                                                            <span class="badge bg-warning">Stredná</span>
                                                            break;
                                                        case 3:
                                                            <span class="badge bg-danger">Ťažká</span>
                                                            break;
                                                        default:
                                                            @:Nezname
                                                            break;
                                                    }
                                                </td>
                                                <td>
                                                    @if (problem.Tags != null && problem.Tags.Any())
                                                    {
                                                        @foreach (var tag in problem.Tags)
                                                        {
                                                            <span class="badge" style="background-color: white; color: black; margin-right: 5px;">@tag.Name</span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <span>Žiadne značky</span>
                                                    }
                                                </td>

                                                <td><button type="button" class="btn btn-danger container-fluid" @onclick="@(() => ShowDeleteProblemModal(problem))"><i class="fa-solid fa-trash-can"></i></button></td>
                                                <td><button type="button" class="btn btn-primary container-fluid" @onclick="@(() => ShowUpdateProblem(problem))"><i class="fa-solid fa-pen-to-square"></i></button></td>
                                            </tr>
                                        }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <p class="text-white text-center">Nemáte žiadne úlohy.</p>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
        @if (_showDeleteModal)
        {
            <div class="modal d-block" style="background-color: rgba(0,0,0.1,0.7);" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content background-custom">
                        <div class="modal-header text-white">
                            <h5 class="modal-title">@_actionName</h5>
                            <button type="button" class="btn-close btn-close-white" @onclick="CloseDeleteModal" aria-label="Zatvoriť"></button>
                        </div>
                        <div class="modal-body text-white">
                            <div class="mb-3 mt-3 text-center text-danger">
                                <label for="UsernameDescription" class="form-label">@_deleteModalText</label>
                            </div>
                        </div>
                        <div class="modal-footer text-white">
                            <button type="button" class="btn btn-secondary" @onclick="CloseDeleteModal">Zrušiť</button>
                            @if (_editingProblem != null)
                            {
                                <button type="button" class="btn btn-danger" @onclick="DeleteProblem">Zrušiť úlohu</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-danger" @onclick="DeleteUser">Zrušiť účet</button>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        @if (_showUpdateModal)
        {
            <div class="modal d-block" tabindex="-1" style="background-color: rgba(0,0,0.1,0.7);">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content background-custom">
                        <div class="modal-header text-white">
                            <h5 class="modal-title">Upraviť úlohu</h5>
                            <button type="button" class="btn-close btn-close-white" @onclick="CloseUpdateModal" aria-label="Close"></button>
                        </div>
                        <EditForm Model="_editingProblem" OnValidSubmit="SaveUpdatedProblem" FormName="UpdateProblem">
                            <DataAnnotationsValidator />
                            <div class="modal-body text-white">
                                <div class="mb-3">
                                    <label for="title" class="form-label">Názov úlohy</label>
                                    <InputText id="title" class="form-control bg-dark text-white" @bind-Value="_editingProblem.Title" />
                                    <ValidationMessage For="@(() => _editingProblem.Title)" />
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="form-label">Popis úlohy</label>
                                    <InputTextArea id="description" class="form-control bg-dark" rows="4" @bind-Value="_editingProblem.Description"></InputTextArea>
                                    <ValidationMessage For="@(() => _editingProblem.Description)" />
                                </div>
                                <div class="mb-3">
                                    <label for="difficulty" class="form-label">Obťažnosť</label>
                                    <InputSelect id="difficulty" class="form-select bg-dark text-white" @bind-Value="_editingProblem.Difficulty">
                                        <option value="1">Ľahká</option>
                                        <option value="2">Stredná</option>
                                        <option value="3">Ťažká</option>
                                    </InputSelect>
                                    <ValidationMessage For="@(() => _editingProblem.Difficulty)" />
                                </div>
                                <div class="mb-3">
                                    <label for="language" class="form-label">Programovací jazyk</label>
                                    <InputSelect id="language" class="form-select bg-dark text-white" @bind-Value="_editingProblem.LanguageID">
                                        @if (_languages != null)
                                        {
                                            @foreach (var language in _languages)
                                            {
                                                <option value="@language.Id">@language.Name</option>
                                            }
                                        }
                                    </InputSelect>
                                    <ValidationMessage For="@(() => _editingProblem.LanguageID)" />
                                </div>
                                <div class="mb-3">
                                    <label for="requiredInput" class="form-label">Požadovaný vstup</label>
                                    @* <InputText id="requiredInput" class="form-control bg-dark text-white" @bind-Value="_editingProblem.RequiredInput" />
                                    <ValidationMessage For="@(() => _editingProblem.RequiredInput)" /> *@
                                </div>
                                <div class="mb-3">
                                    <label for="requiredOutput" class="form-label">Požadovaný výstup</label>
                                    @* <InputText id="requiredOutput" class="form-control bg-dark text-white" @bind-Value="_editingProblem.RequiredOutput" />
                                    <ValidationMessage For="@(() => _editingProblem.RequiredOutput)" /> *@
                                </div>
                                <div class="mb-3">
                                    <label for="constraints" class="form-label">Obmedzenia</label>
                                    @* <InputTextArea id="constraints" class="form-control bg-dark" @bind-Value="_editingProblem.Constraints"></InputTextArea> *@
                                    <ValidationMessage For="@(() => _editingProblem.Constraints)" />
                                </div>
                                <div class="mb-3">
                                    <label for="hints" class="form-label">Nápovedy</label>
                                    @* <InputTextArea id="hints" class="form-control bg-dark" @bind-Value="_editingProblem.Hints"></InputTextArea> *@
                                    <ValidationMessage For="@(() => _editingProblem.Hints)" />
                                </div>
                                <div class="mb-3">
                                    <label for="tags" class="form-label">Značky</label>
                                    <div>
                                        @if (_editingProblem.Tags != null && _editingProblem.Tags.Any())
                                        {
                                            @foreach (var tag in _editingProblem.Tags)
                                            {
                                                <span class="badge bg-light text-dark me-2">
                                                    @tag.Name 
                                                    <button type="button" class="btn-close btn-close-dark btn-sm ms-1" @onclick="() => RemoveTag(tag)" aria-label="Remove"></button>
                                                </span>
                                            }
                                        }
                                        else
                                        {
                                            <span>Žiadne značky</span>
                                        }
                                    </div>
                                    <div class="mt-2">
                                        <InputSelect id="addTag" class="form-select bg-dark text-white" @bind-Value="_selectedTagId">
                                            <option selected disabled hidden value="">-- Vyberte značku na pridanie --</option>
                                            @if (_availableTags != null)
                                            {
                                                @foreach (var tag in _availableTags.GroupBy(t => t.Name).Select(group => group.First()))
                                                {
                                                    <option value="@tag.Id">@tag.Name</option>
                                                }
                                            }
                                        </InputSelect>
                                        <button type="button" class="btn btn-primary mt-2" @onclick="AddTag">Pridať značku</button>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="defaultCode" class="form-label">Prednastavený kód</label>
                                    <InputTextArea @bind-Value="_tempCode" class="form-control bg-dark" id="DefaultCode" rows="5" ></InputTextArea>
                                    @* <ValidationMessage For="@(() => _editingProblem.Hints)" /> *@
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" @onclick="CloseUpdateModal">Zrušiť</button>
                                <button type="submit" class="btn btn-primary">Uložiť zmeny</button>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <div align="center" style="color: ghostwhite">
            <h1>Prístup zamietnutý</h1>
            <p>Nemáte oprávnenie na zobrazenie tejto stránky.</p>
        </div>
    </NotAuthorized>
</AuthorizeView>